Repository colemvnio/sentinel, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, package, test, source, backend, application, domain, enums, infrastructure, interfaces, repositories, utils

chore(commitLint): allow draft, wip
  commitlint.config.js
Labels: source

feat(device): support device identification
  .github/PULL_REQUEST_TEMPLATE.md
  package-lock.json
  package.json
  src/application/services/baseService.js
  src/application/services/customerService.js
  src/application/services/transactionService.js
  src/domain/entities/customerEntity.js
  src/domain/entities/timestampEntity.js
  src/interfaces/express/controllers/baseController.js
  src/interfaces/express/routes/transactionRoutes.js
  src/interfaces/express/server.js
Labels: package, source, backend, application, domain, interfaces

feat(device): support device identification
  .github/PULL_REQUEST_TEMPLATE.md
  package-lock.json
  package.json
  src/application/services/baseService.js
  src/application/services/customerService.js
  src/application/services/transactionService.js
  src/domain/entities/customerEntity.js
  src/domain/entities/timestampEntity.js
  src/interfaces/express/controllers/baseController.js
  src/interfaces/express/routes/transactionRoutes.js
  src/interfaces/express/server.js
Labels: package, source, backend, application, domain, interfaces

feat(stripeCharge): management of stripe charge, metadata, encryption
  .eslintrc.json
  README.md
  package-lock.json
  package.json
  scripts/internal/cryptoKey.js
  src/application/events/baseLoggingService.js
  src/application/services/customerService.js
  src/application/services/paymentService.js
  src/application/services/transactionService.js
  src/domain/base/baseEntity.js
  src/domain/entities/customerEntity.js
  src/domain/entities/transactionEntity.js
  src/enums/stripeEvents.js
  src/infrastructure/database/influx.js
  src/infrastructure/database/mongo.js
  src/infrastructure/payment/stripe.js
  src/interfaces/express/controllers/baseController.js
  src/interfaces/express/controllers/customerController.js
  src/interfaces/express/controllers/transactionController.js
  src/interfaces/express/routes/customerRoutes.js
  src/interfaces/express/routes/index.js
  src/interfaces/express/routes/transactionRoutes.js
  src/interfaces/express/server.js
  src/repositories/baseRepository.js
  src/utils/crypto.js
  src/utils/round.js
Labels: docs, package, source, backend, application, domain, enums, infrastructure, interfaces, repositories, utils

feat(stripeCharge): management of stripe charge, metadata, encryption
  .eslintrc.json
  README.md
  package-lock.json
  package.json
  scripts/internal/cryptoKey.js
  src/application/events/baseLoggingService.js
  src/application/services/customerService.js
  src/application/services/paymentService.js
  src/application/services/transactionService.js
  src/domain/base/baseEntity.js
  src/domain/entities/customerEntity.js
  src/domain/entities/transactionEntity.js
  src/enums/stripeEvents.js
  src/infrastructure/database/influx.js
  src/infrastructure/database/mongo.js
  src/infrastructure/payment/stripe.js
  src/interfaces/express/controllers/baseController.js
  src/interfaces/express/controllers/customerController.js
  src/interfaces/express/controllers/transactionController.js
  src/interfaces/express/routes/customerRoutes.js
  src/interfaces/express/routes/index.js
  src/interfaces/express/routes/transactionRoutes.js
  src/interfaces/express/server.js
  src/repositories/baseRepository.js
  src/utils/crypto.js
  src/utils/round.js
Labels: docs, package, source, backend, application, domain, enums, infrastructure, interfaces, repositories, utils

chore(git): WIP warning
  README.md
Labels: docs, source

chore(git): Add license
  LICENSE
Labels: source

.github/labeler.yml:

docs:
  - '*.md'

package:
  - 'package.json'
  - 'package-lock.json'

test:
  - 'test/**/*.js'

source:
  - 'src/**'
  - '!src/docs/**'

backend:
  - 'src/**/*.js'

application:
  - 'src/application/**/*.js'

domain:
  - 'src/domain/**/*.js'

enums:
  - 'src/enums/**/*.js'

infrastructure:
  - 'src/infrastructure/**/*.js'
  - '.github/**/*.yml'

interfaces:
  - 'src/interfaces/**/*.js'

repositories:
  - 'src/repositories/**/*.js'

utils:
  - 'src/utils/**/*.js'
